.int{
    padding : 10px;
    margin : 20px;
    width :93.5%;
    margin-left : 30px;
    margin-top : 30%;
    background-color: #181717;
    border-color: #2e1ffb;
    font-family : cursive; 
    font : message-box;
    color : white;
    /* padding : '10px';
    margin : '20px';
    width :'93.5%';
    margin-left :'30px';
    margin-top : '30%', */
}
.btn{
    cursor: pointer;
    color: rgb(18, 55, 238);
    text-transform: uppercase;
    border-radius: 10%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left : 47% ;
}