.leftsidebar-container-1{  
    /* height: 150vh;
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    flex: 1 0 auto; */
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}